@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* CSS RESET for this challenge*/

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, p {
  margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.2;
}

h1 {
    line-height: 1.27;
    text-wrap: balance;
}

img, picture {
    max-width: 100%;
    display: block;
}

/* CUSTOM PROPERTIES */

:root {
    /* Color */
    --primary-white: hsl(0, 0%, 100%);
    --primary-lightGray: hsl(212, 45%, 89%);
    --primary-grayishBlue: hsl(220, 15%, 55%);
    --primary-darkBlue: hsl(218, 44%, 22%);
    --clr-bodyBG: var(--primary-lightGray);
    --clr-cardBG: var(--primary-white);
    --clr-h1: var(--primary-darkBlue);
    --clr-body: var(--primary-grayishBlue);
    --clr-attribution: hsl(228, 45%, 44%);

    /* Typography */
    --ff: 'Outfit', sans-serif;
    --fs-h1: 1.375rem;
    --fs-body: .9375rem;
    --fs-attribution: clamp(0.6875rem, 0.6223rem + 0.3261vi, 0.875rem);
    --fw-400: 400;
    --fw-700: 700;
}

/* LAYOUT */
body {
    background: var(--clr-bodyBG);
    font-family: var(--ff);
    display: grid;
    place-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin-inline: auto;
    background: var(--clr-cardBG);
    padding: 1em;
    border-radius: 20px;
    text-align: center;
}

.card img {
    border-radius: 10px;
}

.card__content {
    padding-inline: 1em;
}

.card h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-700);
    color: var(--clr-h1);
    margin-block-start: 1.5rem;
}

.card p {
    color: var(--clr-body);
    font-size: var(--fs-body);
    margin-block-end: 1.5rem;
}